<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body style="background-color: rgb(236, 240, 245);">
<div class="top">
			<span class="fl">
				<img src="imgs/1.png" />
				<span>柯城区中小学阳光饮食信息化平台</span>
			</span>
	<span class="fr">
				<span><a href="/entry/default">首页</a></span>
				<span><a href="/cms/newslist?code=XXGKZ&amp;title=学校发布">学校发布</a></span>
				<span><a href="/cms/newslist?code=XXFBZ&amp;title=教育行政发布">教育行政发布</a></span>
				<span><a href="/cms/contact">联系我们</a></span>
				<input type="text" placeholder="搜索">
			</span>
</div>
<div class="header">
	<div class="banner">
		<div class="bannerCon">
			<ul>
				<li>
					<a>
						<image src="imgs/001.png" style="width: 100%;height:260px;"></image>
					</a>
				</li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<div class="num">
				<a></a>
				<a></a>
				<a></a>
				<a></a>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="middle" style="height: 100%;">
		<div style="margin-left:20px;padding-top:10px;font-size: 14px;">
			<p>
				           			<span>当前位置：
				  				<a href="/entry/default">首页</a>&gt; 公众热点</span>
			</p>
		</div>
		<div class="context">
			<h2 style="display: flex;justify-content: center;">2019年四月满意度测评情况</h2>
			<div class="con_title">发布时间： 2019-06-14 09:38:25 来源</div>
			<div class="con_words">在2019年4月的柯城区食堂食品统一配送评议中衢州市万汇食品有限公司满意度（含基本满意）为100%，综合评定为优秀。</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="advise">
		"建议您使用"
		<a href="https://www.google.cn/intl/zh-CN/chrome/">Chrome</a>
		"或"
		<a href="http://dl.360safe.com/se/360se_setup.exe">360浏览器</a>
		"访问本网站， 屏幕分辨率大于1440*900"
	</div>
	"Copyright © 2016-2019 柯城教育. All rights reservered. 浙ICP备09076267号-1"
</div>
</body>
</html>
